.landing-content-header {
  grid-column: 1 / 7;
}

.header-title {
  grid-column: 1 / 7;
  grid-row: 2 / 3;
  padding: 80px 16px 0px;
}

.full-bleed-divider {
  grid-column: 1 / 7;
  grid-row: 3 / 4;
  border: none;
  border-top: 1px solid #9d9d9d;
  margin: 6px 0;
}

.header-description {
  grid-column: 1 / 7;
  grid-row: 4 / 5;
  padding: 0 16px;
}

.header-image {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  width: 100%;
  height: 75vh;
  object-fit: cover;
}

.landing-content-container {
  padding-bottom: 240px;
}

/* Projects */

.work-projects-container {
  padding: 16px;
  border-top: solid 1px #9d9d9d;
  border-bottom: solid 1px #9d9d9d;
}

.home-project {
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
}

.home-first-image-wrapper {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  padding-bottom: 16px;
}

.home-second-image-wrapper {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: none;
}

.home-title {
  grid-column: 1 / 7;
  grid-row: 2 / 3;
}

.home-project-details {
  grid-column: 1 / 7;
  grid-row: 3 / 4;
}

.home-view-project {
  grid-column: 1 / 7;
  grid-row: 4 / 5;
}

.home-first-image,
.home-second-image {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.first-project-details {
  grid-column: 1 / 4;
  grid-row: 5 / 6;
}

.second-project-details {
  grid-column: 4 / 7;
  grid-row: 5 / 6;
  text-align: right;
  margin-top: auto;
}

.project-full-bleed-divider {
  grid-column: 1 / 7;
  grid-row: 6 / 7;
  border-top: 1px solid #9d9d9d;
}

@media screen and (min-width: 480px) {
  .header-title {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    padding: 80px 0px 0px 16px;
    display: flex;
    align-items: flex-end;
  }

  .header-description {
    grid-column: 1 / 8;
    grid-row: 3 / 4;
    padding: 0px 0px 0px 16px;
  }

  .header-image {
    grid-column: 13 / 25;
    grid-row: 1 / 4;
    width: 100%;
    height: 95vh;
    object-fit: cover;
    z-index: 1;
  }

  .full-bleed-divider {
    grid-column: 1 / 25;
    grid-row: 2 / 3;
    border: none;
    border-top: 1px solid #9d9d9d;
    margin: 6px 0;
  }

  .landing-content-header {
    grid-column: 1 / 24;
    grid-row: 1 / 2;
    padding-top: 180px;
  }

  .landing-content-container {
    padding-bottom: 0px;
  }

  /* Projects */

  .work-projects-container {
    padding: 16px;
    border-top: solid 1px #9d9d9d;
    border-bottom: solid 1px #9d9d9d;
  }

  .home-project {
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
  }

  .home-first-image-wrapper {
    grid-column: 13 / 25;
    grid-row: 1 / 5;
    height: 100%;
    object-fit: cover;
    padding-bottom: 0px;
  }

  /* .home-second-image-wrapper {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: none;
  } */

  .home-title {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
  }

  .home-project-details {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
  }

  .home-view-project {
    grid-column: 1 / 7;
    grid-row: 3 / 4;
  }

  .home-first-image,
  .home-second-image {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
    object-fit: cover;
  }

  .first-project-details {
    grid-column: 1 / 7;
    grid-row: 4 / 5;
  }

  .second-project-details {
    grid-column: 7 / 13;
    grid-row: 4 / 5;
    text-align: right;
    margin-top: auto;
  }

  .project-full-bleed-divider {
    grid-column: 1 / 7;
    grid-row: 6 / 7;
    border-top: 1px solid #9d9d9d;
  }
}
