.landing-content-grid {
  display: grid;
  column-gap: 12px;
  row-gap: 8px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.landing-content {
  height: 100vh;
}

.hover-target {
  cursor: pointer;
}

.landing-content-image {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.landing-content-title {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  align-self: end;
}

.type-title {
  font-size: 8vw;
  line-height: 7vw;
  font-weight: 600;
}

.full-bleed-divider {
  grid-column: 1 / 7;
  grid-row: 2 / 3;
  border: none;
  border-top: 1px solid #9d9d9d;
}

.landing-content-job-description {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  padding-top: 8px;
}

.landing-content-location {
  grid-column: 4 / 7;
  grid-row: 2 / 3;
  padding-top: 8px;
}

.landing-content-open-to-work {
  grid-column: 4 / 7;
  grid-row: 2 / 3;
  padding-top: 8px;
  justify-self: end;
}

.landing-content-image-container {
  grid-column: 1 / 7;
  grid-row: 3 / 4;
  align-self: end;
}

.landing-content-description {
  grid-column: 1 / 7;
  grid-row: 4 / 5;
}

.landing-content-info-container {
  grid-column: 1 / 7;
  grid-row: 4 / 5;
  align-self: end;
  border-bottom: solid 1px #9d9d9d;
  display: grid;
  column-gap: 12px;
  grid-template-columns: repeat(6, 1fr);
}

.info-years-working {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  align-self: end;
  padding-bottom: 8px;
}

.info-projects {
  grid-column: 4 / 7;
  grid-row: 1 / 2;
  align-self: end;
  padding-bottom: 8px;
}

.mux-video-container {
  grid-column: 1 / 7;
  grid-row: 3 / 4;
  align-self: end;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.mux-video-player {
  width: 100%;
  height: 100%;
  --media-object-fit: cover;
}

/* Projects */

.project-card-media.visible {
  opacity: 1;
}

.project-card-media {
  opacity: 0;
  transition: opacity 0.6s ease;
}

.home-media-wrapper {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  padding: 16px 0;
}

.media-wrapper-inner {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.home-image-wrapper,
.home-video-wrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home-video-wrapper > video,
.home-image-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.home-title {
  grid-column: 1 / 7;
  grid-row: 2 / 3;
}

.home-project-details {
  grid-column: 1 / 7;
  grid-row: 3 / 4;
  padding-bottom: 16px;
}

.home-view-project {
  grid-column: 1 / 7;
  grid-row: 4 / 5;
}

.home-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.first-project-details {
  grid-column: 1 / 4;
  grid-row: 5 / 6;
  padding-bottom: 16px;
}

.second-project-details {
  grid-column: 4 / 7;
  grid-row: 5 / 6;
  text-align: right;
  margin-top: auto;
  padding-bottom: 16px;
}

.project-full-bleed-divider {
  grid-column: 1 / 7;
  grid-row: 6 / 7;
  border-top: 1px solid #9d9d9d;
}

@media screen and (min-width: 480px) {
  .landing-content-grid {
    display: grid;
    column-gap: 12px;
    row-gap: 12px;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .landing-content-image {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
    object-fit: cover;
  }

  .landing-content-image-container {
    grid-column: 17 / 25;
    grid-row: 1 / 3;
  }

  .landing-content-title {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
  }

  .full-bleed-divider {
    grid-column: 1 / 25;
    grid-row: 3 / 4;
  }

  .landing-content-job-description {
    grid-column: 1 / 9;
    grid-row: 3 / 4;
    padding-top: 16px;
  }

  .landing-content-location {
    grid-column: 9 / 17;
    grid-row: 3 / 4;
    padding-top: 16px;
  }

  .landing-content-open-to-work {
    grid-column: 17 / 25;
    grid-row: 3 / 4;
    padding-top: 16px;
    justify-self: end;
  }

  .landing-content-description {
    grid-column: 13 / 20;
    grid-row: 3 / 4;
    align-self: end;
  }

  .landing-content-info-container {
    grid-column: 1 / 25;
    grid-row: 4 / 5;
    align-self: end;
    grid-template-columns: repeat(24, 1fr);
  }

  .info-years-working {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    align-self: end;
    padding-bottom: 16px;
  }

  .info-projects {
    grid-column: 9 / 17;
    grid-row: 1 / 2;
    align-self: end;
    padding-bottom: 16px;
  }

  /* Projects */
  .home-media-wrapper {
    grid-column: 13 / 25;
    grid-row: 1 / 4;
  }

  .home-title {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
  }

  .home-project-details {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    padding-top: 16px;
  }

  .home-view-project {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
  }

  .home-image {
    display: block;
    aspect-ratio: 3 / 2;
    object-fit: cover;
  }

  .first-project-details {
    grid-column: 1 / 7;
    grid-row: 3 / 4;
  }

  .second-project-details {
    grid-column: 7 / 13;
    grid-row: 3 / 4;
    text-align: right;
    margin-top: auto;
  }

  .project-full-bleed-divider {
    grid-column: 1 / 7;
    grid-row: 4 / 5;
    border-top: 1px solid #9d9d9d;
  }
}
