.nav-container,
.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
}

.nav-list,
.nav-overlay-list {
  display: flex;
  padding: 16px;
  border-bottom: solid 1px #9d9d9d;
  justify-content: space-between;
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #f9f9f9;
  z-index: 20;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.contact,
.close {
  cursor: pointer;
}
