.project-details {
  padding: 24px 16px;
}

.project-title {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
}

.project-description {
  grid-column: 1 / 7;
  grid-row: 2 / 3;
}

.first-details {
  grid-column: 1 / 7;
  grid-row: 3 / 4;
}

.second-details {
  grid-column: 1 / 7;
  grid-row: 4 / 5;
}

@media screen and (min-width: 480px) {
  .project-details {
    padding: 32px 16px;
  }

  .project-title {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
  }

  .project-description {
    grid-column: 13 / 25;
    grid-row: 1 / 2;
  }

  .first-details {
    grid-column: 16 / 25;
    grid-row: 2 / 3;
  }

  .second-details {
    grid-column: 16 / 25;
    grid-row: 3 / 4;
  }
}
