.single-square-image {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  cursor: pointer;
}

.single-square-img {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (min-width: 480px) {
  .single-square-image {
    grid-column: 1 / 25;
    grid-row: 1 / 2;
  }
}
